<footer class="footer">
  <p class="copy"><small>&copy; All Rights Reserved</small></p>
</footer>

<style lang="scss">
  @charset 'UTF-8';
  @use "sass:math";
  @use "../assets/scss/inc" as *;

  .footer {
    padding: pxToRem(20);
    background-color: #444;
    .copy {
      font-size: pxToRem(16);
      text-align: center;
      color: $colorWhite;
      text-transform: uppercase;
    }
  }
</style>
